<header class="">
  <nav class="navbar navbar-expand-lg navbar-dark bd-navbar bg-dark sticky-top">
    <div class="container">
      <a class="navbar-brand" href="#">
        Admin
      </a>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon">
        </span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle <%= data.path === '/account/admin' || data.path === '/account/user' ? 'active' : '' %>" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Accounts
            </a>

            <ul class="dropdown-menu">
              <li>
                <a class="dropdown-item <%= data.path === '/account/admin' ? 'active' : '' %>" href="/account/admin">
                  Admins
                </a>
              </li>
              <li>
                <a class="dropdown-item <%= data.path === '/account/user' ? 'active' : '' %>" href="/account/user">
                  Users
                </a>
              </li>
            </ul>
          </li>
        </ul>

        <form class="d-flex" action="/auth/signout" method="post">
          <button class="btn btn-outline-success" type="submit">
            <i class="bi bi-power"></i>
          </button>
        </form>
      </div>
    </div>
  </nav>
</header>

<body>