$blue: #74b9ff;
$bs-info-rgb: rgb(13,202,240);

body {
  height: 100vh;
  height: 100dvh;
  background-color: #3498db;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

#root {
  height: 100%;
  width: 100%;
}

.App {
  height: 100%;
  margin: 0;
  background: #fff;
  padding: 0;
  border-radius: 0px;
}

#App_content {
  height: 100%;
}

.offcanvas-header:hover {
  cursor: pointer;
}

.navbar-text:hover {
  background: $blue;
  cursor: pointer;
}

#conversation-item-container .col {
  min-height: 50px;
}
#conversation-item-container:hover {
  background: $blue;
  cursor: pointer;
}

#conversation-name{
  font-weight: 450;
}

.senderName {
  font-weight: 500;
}

img[alt~="avatar"] {
  background: #74b9ff;
}

img[alt~="avatar"]:hover {
  cursor: pointer;
}

.card-footer button:hover {
  cursor: pointer;
  color: $bs-info-rgb
}

.dropdown-toggle::after {
  display: none !important; 
}

#conversation-preview {
  opacity: 0.5;
  font-size: small;
}

#suggestion-item-container:hover, .emoji_icon:hover{
  background: $blue;
  cursor: pointer;
}

#switch_mode:hover {
  cursor: pointer;
}

#currentConversationToggle:hover {
  cursor: pointer;
}

.material-icons:hover{
  cursor: pointer;
}

.message-wrapper, .seen-avatar {
  transition-property: all;
  transition-duration: 500ms;
}
.tooltipHover {
  position: relative;
}
/* Tooltip text */
.tooltipHover .userTooltip {
  background-color: black;
  opacity: 70%;
  color: #fff;
  bottom: 105%;
  left: 0;
}

.tooltipHover .emojiTooltip {
  background-color: white;
  bottom: 100%;
  right: 0;
  width: 23rem;
}
.tooltipHover .userTooltip, .tooltipHover .emojiTooltip {
  visibility: hidden;
  max-width: 40vw;
  text-align: left;
  padding: 5px 0;
  border-radius: 10px;

  &--right {
    left: auto;
    right: 0;
  }
 
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1100;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltipHover:hover .userTooltip, .tooltipHover:hover .emojiTooltip {
  visibility: visible;
}

.tooltip-rightBorder {
  left: auto !important;
  right: 0 !important;
}

input:disabled:hover {
  cursor: default;
}

#message_input-container .material-icons:hover {
  color: $blue !important;
}

#editing-title {
  font-weight: 700;
}

#file-preview {
  text-decoration: underline;
}

#file-preview:hover {
  cursor: default;
}

#emoji-reaction:hover {
  cursor: pointer;
}