$blue: #74b9ff;
$bs-info-rgb: rgb(13,202,240);

body {
  height: 100vh;
  background-color: #3498db;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

#root {
  height: 100%;
  width: 100%;
}

.App {
  height: 100%;
  margin: 0;
  background: #fff;
  padding: 0;
  border-radius: 0px;
}

#App_content {
  height: 100%;
}

.navbar-text:hover {
  background: $blue;
}

#conversation-item-container .col {
  min-height: 50px;
}
#conversation-item-container:hover {
  background: $blue;
  cursor: pointer;
}

#conversation-name{
  font-weight: 450;
}

.senderName {
  font-weight: 500;
}

img[alt~="avatar"] {
  background: #74b9ff;
}

.card-footer button:hover {
  cursor: pointer;
  color: $bs-info-rgb
}

.dropdown-toggle::after {
  display: none !important; 
}

#conversation-preview {
  opacity: 0.5;
  font-size: small;
}

#suggestion-item-container:hover {
  background: $blue;
  cursor: pointer;
}